@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('satoshi.css');


@layer components {
  .nftCellsShadowPink {
    box-shadow: 9px 9px 16px 0px rgba(254, 199, 255, 1) inset;
  }
  .nftCellsShadowGreen {
    box-shadow: 4px 4px 16px 0px rgba(140, 255, 212, 0.4) inset;
  }
  .bioBankAppointment {
    box-shadow: 9px 9px 16px 0px rgba(205, 205, 205, 0.4) inset;
  }
  .qrCodeShadow {
    box-shadow: 9px 9px 16px 0px rgba(173, 255, 224, 0.8) inset;
  }
  .confettiBG {
    background-image: url("../assets/confetti.gif");
  }
  /* ... */
}
